<main>
  <h1>Sikeres feliratkozas</h1>
  <p>Sikeresen feliratkoztal erre a szarra, ime az osszes adat ami kell neked, semmi tobb:</p>
  <div>
    <span>Adatbazis: <%= content.database %></span> <br>
    <span>Felhasznalo: <%= content.username %></span> <br>
    <span>Jelszo: <%= content.password %></span>
  </div>

  <span>tisztelettel, a jo kurva anyad</span>
</main>
<style>
div {
  background-color: black;
  color: white;
}
</style>